<div class=page>
  <div class="border all" style="padding:20px">
    <p>ข้าพเจ้า<span class="line">%AUTHORITY%</span> ผู้รับจำนอง ได้รับชำระหนี้จำนอง จากผู้จำนองถูกต้องครบถ้วนเรียบร้อยแล้ว<br> ตั้งแต่วันที่ <input type=checkbox title="ไม่พิมพ์วันที่" class=no-print> <span class="line">&nbsp;<i>%TODAY%</i>&nbsp;</span>
    </p>
    <p>ยินยอมให้ไถ่ถอนจากจำนองได้</p>
    <table>
      <tr>
        <td>
          &nbsp;
        </td>
        <td class=center style="width:50%">
          ลงชื่อ<span class="line2">&nbsp;</span>ผู้รับจำนอง<br> (
          <span class="line">%AUTHORITY%</span>)
        </td>
      </tr>
    </table>
  </div>
</div>
<style>
  input[type=checkbox]:checked+span>i {
    display: none;
  }
</style>